
<div id="pagecontent" th:fragment="pagecontent">
    <style>
        #reglement {
            padding-left: 2%;
            text-align: left;
        }
        #reglement H1 {
            text-align: left;
        }
        #reglement H2{
            text-align: left;
        }
        #reglement H3{
            text-align: left;
        }

        #reglement p {
            text-align:left
        }

        #reglement li{
            text-align:left
        }
    </style>

    <div id="reglement">
        <H1> Challenge club 2024 (joggeuses et joggeurs) </H1>

        <h2>Règlement </h2>
        <h3> Conditions</h3>
        <p>
            Début du challenge interne, le 1er janvier 2024. <br/>
            Seuls les membres actifs en ordre de cotisation participent au challenge club.<br/>

            II faut courir au minimum 6 courses et satisfaire aux critères de validité.
        </p>
        <h3> Paramères de calcul : </h3>
        <ul>
            <li><b>Toute course pied chronométrée <u>pour laquelle il y a classement.</u></b> </li>
            <li> Le nombre de membres Antilob sur la même épreuve. </li>
            <li> La distance parcourue. </li>
            <li> Le nombre de participants </li>
            <li> Classement à l'arrivée </li>
            <li> Le jour des activités club (comme par exemples : jogging, sortie club, vous
                recevrez uniquement des points pour votre implication dans l'organisation du
                jogging « Antilob » Ces points seront attribués par le comité, ce qui pourrait
                relancer le challenge interne. Votre participation à une autre épreuve ne sera pas
                comptabilisée. </li>
        </ul>

        <h3>Catégories femmes et hommes </h3>

        <li>15 à 19 ans </li>
        <li>20 à 29 ans </li>
        <li>30 à 39 ans </li>
        <li>40 à 49 ans </li>
        <li>50 à 59 ans </li>
        <li>60 à 69 ans</li>
        <li>70 à 79 ans</li>
        <li>80 ans et +</li>

        <h3>Critères de validité:</h3>

        Pour qu'une course soit comptabilisée dans le challenge interne, il faut:

        <ol type="1">
            <li>Que l' inscription à l'épreuve se fasse sous le nom « Antilob » </li>
            <li>Être en ordre de cotisation comme membre actif au moment de        l'épreuve.                       </li>
            <li>Arborer les couleurs « Antilob », pendant la course et le cas échéant sur le podium</li>
            <li>	Nous communiquer les renseignements ci-dessous uniquement à  l'adresse suivante: comiteantilob@gmail.com, au maximum 7 jours après la course.</li>
            <ol type="a">
                <li>Date de la course : </li>
                <li>Nom et type d'épreuve </li>
                <li>Kilomètres parcourus </li>
                <li>Votre classement :</li>
                <li>Nombre de participants </li>
                <li>Le nombre d'Antilob présent </li>
            </ol>
        </ol>
        <p>
            Pensez à faire des photos pour l'album du club.
        </p>
        Manière d' attribuer les points. <br/>
        A : nombre d'Antilob <br/>
        C : place au Classement <br/>
        D :Distance <br/>
        P : nombre de Participants <br/>


        Formule : Point : (P x A) /C x (D x 0,001)
        <p>
        <h3 style="text-align:center">  </h3>
        </p>
    </div>
</div>