<div id="leftColumn" th:fragment="leftColumn">
    <img src="./images/logoantilob2019.jpg" alt="" style="width: 180px; height: 161px;"><br>
    <table style="width: 172px; height: 42px;" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td style="text-align: center;"><span><i><b id="region">Ottignies<br>
                        Brabant Wallon</b></i></span><br>
                </td>
            </tr>
        </tbody>
        </table>
        <span class="txt-pied Style5">
            <strong id="entrainement"><br>
                <br>
                <br>
                    Entrainement :<br>
                    tous les mercredis<br>
                    à 18h30 au <br>
                <a href="http://www.tcduparc.be/" target="_blank"><em><u>Tennis
                        Club du Parc,<br>
                            avenue Einstein<br>
                            1348 Louvain La Neuve</u></em>
                </a>
            </strong>
        </span> 
</div> 
