
<div id="pagecontent" th:fragment="pagecontent">
    <div style="text-align:left; padding:left">
        <H1 style="margin-top:0px;"> Présentation du club</H1>
        <p>
            Le club Antilob runners existe depuis 1990.
            Il est composé de coureurs de tout niveau et mise avant tout sur la convivialité.
        </p>
        <p>
            Depuis sa création, son histoire est remplie d’évènements sportifs et festifs : Tour de Belgique, Marathons( Médoc, Alsace, Mont-Saint-Michel, Dublin,…), trails (Olne-Spa-Olne, Le Hérou, Trail des Fagnes,…).
            Nous sommes également souvent présents sur les courses du Challenge du Brabant Wallon ainsi que le Delhalle.
            Nous organisons d’ailleurs le fameux jogging de Hèze ainsi que l’enfer de Céroux.
            Les entrainements ont lieu le mercredi à partir de 18h30. Nous démarrons du Tennis club du Parc de LLN pour des parcours dépendant du niveau de chacun.
        </p>
        <p>
            Petit à petit , un groupe de marcheurs (souvent des anciens coureurs) s'est formé, s'est agrandi et
            participe grandement à la vie du club
        </p>

        <H1 > Le comité</H1>
        <table>
            <tr>
                <td>Président</td><td>Pascal Dekeyser </td><td>0484/68.69.73<td>
            </tr>
            <tr>
                <td>Vice-Présidente</td><td>Vinciane Chabeau</td><td>0475/96.70.54<td>
            </tr>
            <tr>
                <td>Secrétaire</td><td>Jean-Claude Benner</td><td>0492/21.62.83<td>
            </tr>
            <tr>
                <td>Trésorier</td><td>Pierre Laureys</td><td>0495/59.17.22<td>
            </tr>
            <tr>
        </table>
        <p>
          <span style="text-decoration:underline;font-weight:bold;">
            Contact</span>:
            <span>comiteantilob&#x40;gmail.com</span>
        </p>

        <img  src="/images/comite.jpg" style="width:80%"/>

    </div>
</div>