<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div id="pagecontent" th:fragment="pagecontent">
    <style>
        #tableHeaderTR{
            outline: 2px solid black;
        }
    </style>

    <H1> Classements club 2024</H1>
    <p>(* cliquez sur la distance pour voir le classement club)</p>
    <div id="tableCalendrierContainer">
        <table id="calendrier" cellspacing="0" >
            <tbody id="raceListBody">

            <tr id="tableHeaderTR">
                <th>Lieu</th>
                <th>Date</th>
                <th>distance</th>
                <th>Challenge</th>
                <th>Nbre Antilob</th>
            </tr>
            </tbody>
        </table>
        <script th:src="@{/js/racesresults.js}"></script>
    </div>
</div>